@import '~bootstrap/scss/bootstrap';

$alt-color: $cyan;
$body-bg-color: $gray-200;
$font-color: $light;
$bg-color: #f2f2f2;


#signed-in-options {
  display: flex;
  justify-content: flex-end;
}


body {
  background: $bg-color;
  padding: 48px;
}

hr.solid {
  border-top: 0px solid #6D7587;
}


button {
  font-size: 14px;
  border: none;
  margin-right: 24px;
  margin-bottom: 40px;
  padding: 10px 30px;
  border-radius: 40px;
  color: #6D7587;
  background-color: $bg-color;
  box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
             -7px -7px 20px rgba(255, 255, 255, 1),
             inset 0px 0px 4px rgba(255, 255, 255, .2),
             inset 7px 7px 15px rgba(55, 84, 170, 0),
             inset -7px -7px 20px rgba(255, 255, 255, 0),
             0px 0px 4px rgba(255, 255, 255, 0)
}

input {
  font-size: 14px;
  border: none;
  margin: 20px;
  padding: 10px 30px;
  border-radius: 40px;
  color: #6D7587;
  background-color: $bg-color;
  box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
             -7px -7px 20px rgba(255, 255, 255, 1),
             inset 0px 0px 4px rgba(255, 255, 255, .2),
             inset 7px 7px 15px rgba(55, 84, 170, 0),
             inset -7px -7px 20px rgba(255, 255, 255, 0),
             0px 0px 4px rgba(255, 255, 255, 0)
}

.container {
  height: 100vh;
}

.box {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  align-items: center;
  color: black;
  display: flex;
  height: 100px;
  justify-content: center;
  &:nth-child(3n) {
    border-right: 0;
    }

  &:nth-last-child(-1n + 3) {
  }
  min-height: calc(100vh / 3);
  background-color: white;
  color:white;
  font-size: 15vh;
  text-shadow: 3px 3px rgba(0, 0, 0, .25);
  &:hover {
    background-color: lightSkyBlue;
    }
}

.row {
  margin: auto;
  max-height: calc(100vh - 74);
  max-width: calc(100vh - 75);

  background: url('https://www.treehugger.com/thmb/7KODEiuRvG7GqhcFKiKUKQRX7Ew=/2124x1195/smart/filters:no_upscale()/GettyImages-657928944-42d06dbb655341b1aec4d99dee00bc2b.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



.alt-color {
  background-color: $alt-color;
}
