@import '~bootstrap/scss/bootstrap';

$alt-color: $cyan;
$body-bg-color: $gray-200;
$font-color: $light;
$bg-color: #f2f2f2;


#signed-in-options {
  display: flex;
  justify-content: flex-end;
}


#game-board {
  margin-top: 48px;
}


h1 {
  margin-bottom: 60px;
}

p {
  color: #6D7587;
  font-weight: bold;
  font-size: 18px;
  display: inline;
  margin: auto;
}

body {
  background: $bg-color;
  padding: 48px;
}

hr.solid {
  border-top: 0px solid #6D7587;
}


button {
  font-size: 14px;
  border: none;
  margin-right: 24px;
  margin-bottom: 40px;
  padding: 10px 30px;
  border-radius: 40px;
  color: #6D7587;
  background-color: $bg-color;
  box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
             -7px -7px 20px rgba(255, 255, 255, 1),
             inset 0px 0px 4px rgba(255, 255, 255, .2),
             inset 7px 7px 15px rgba(55, 84, 170, 0),
             inset -7px -7px 20px rgba(255, 255, 255, 0),
             0px 0px 4px rgba(255, 255, 255, 0)
}

input {
        display:block;
        margin: auto;
        margin-bottom: 24px;
        width: 350px;
        height: 40px;
        padding-left: 25px;
        font-size: 13px;
        letter-spacing: .15px;
        border: none;
        outline: none;

        font-family: 'Montserrat', sans-serif;
		background-color: $bg-color;
		transition: .25s ease;
		border-radius: 8px;

		box-shadow:
			inset 2px 2px 4px rgba(0, 0, 0, .20),
			inset -2px -2px 4px $white;

		&:focus{
			box-shadow:
				inset 4px 4px 4px $bg-color,
				inset -4px -4px 4px $white;
		}
}

#sign-up {
  display: block;
  justify-content: center;
  margin: auto;
}

#liveToast {
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  min-width: 15rem;
}

#already-member {
  display: block;
  justify-content: center;
  margin: auto;
  box-shadow: none;
  margin-top: 64px;
}


#sign-in {
  display: block;
  justify-content: center;
  margin: auto;
  padding-left: 150px;
  padding-right: 150px;
  border-radius: 40px;
}

#sign-up {
  padding-left: 150px;
  padding-right: 150px;
  border-radius: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

#submit {
  width: 180px;
     height: 50px;
     border-radius: 25px;
     margin-top: 50px;
     font-weight: 700;
     font-size: 14px;
     letter-spacing: 1.15px;

 	background-color: $purple;
 	color: $white;
 	box-shadow:
 		8px 8px 16px rgba (0,0,0,.20),
 		-8px -8px 16px $white;

 	border: none;
     outline: none;
}

.container {
  margin-top: 40px;
  height: 100vh;
}

.box {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  align-items: center;
  color: black;
  display: flex;
  height: 100px;
  justify-content: center;
  &:nth-child(3n) {
    border-right: 0;
    }

  &:nth-last-child(-1n + 3) {
  }
  min-height: calc(100vh / 3);
  background-color: white;
  color:white;
  font-size: 15vh;
  text-shadow: 3px 3px rgba(0, 0, 0, .25);
  &:hover {
    background-color: lightSkyBlue;
    }
}

.row {
  margin: auto;
  max-height: calc(100vh - 74);
  max-width: calc(100vh - 75);

  background: url('https://www.treehugger.com/thmb/7KODEiuRvG7GqhcFKiKUKQRX7Ew=/2124x1195/smart/filters:no_upscale()/GettyImages-657928944-42d06dbb655341b1aec4d99dee00bc2b.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#game-options {
  justify-content: flex-end;
}




.alt-color {
  background-color: $alt-color;
}
